$header-background-color: #1e2947;
$header-mobile-border-color: #3300ff;

$toggle-background-dark: #c4c4c4;
$toggle-button-dark: white;

$toggle-background-light: #ffffff;
$toggle-button-light: #000000;

$primary-color-light: #c4c4c4c4;
